@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2B2828;
  --secondary: #323232;
  --accent: #3760CA;
  --accent-hov: #3761ca44;
}

body {
  font-family: var(--font-gilroy);
  color: var(--primary);
  letter-spacing: -2%;
  font-size: 23px;
  line-height: 134%;
  background: #FCFCFC;
}

herograd {
  background: linear-gradient(122deg, #EBECE9 0%, #81898D 100%);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}